/**
 * Mixins 
 */
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius: @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius: @bottomleft;
	-webkit-border-top-left-radius: @topleft;
	-moz-border-radius-topright: @topright;
	-moz-border-radius-bottomright: @bottomright;
	-moz-border-radius-bottomleft: @bottomleft;
	-moz-border-radius-topleft: @topleft;
	border-top-right-radius: @topright;
	border-bottom-right-radius: @bottomright;
	border-bottom-left-radius: @bottomleft;
	border-top-left-radius: @topleft;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.opacity(@opacity) {
	opacity: @opacity;
    @filter: @opacity * 100;
	filter:alpha(opacity=@filter);
}

#huk_cookie_prefernce_panel,
#huk_cookie_prefernce_panel_ex {
	font: 12px sans-serif;
	line-height: 1.7;
}

/** 
 * Add custom styles for the cookie panel
 */
#huk_cookie_prefernce_panel{
	.border-radius(3px, 3px, 3px, 3px);
	border:1px solid #999;
	-webkit-box-shadow: 0px 0px 19px #999;
	-moz-box-shadow:    0px 0px 19px #999;
	box-shadow:         0px 0px 19px #999;
	& .huk_cookie_prefernce_panel_row{
		height: 30px;
		& input {
			float:left;
		}
		& label{
			padding-top: 2px;
			display: block;
			float: left;
		}
		& input[type=button]{
			padding:5px 0;
			margin:-2px 10px;
		}
	}
	.huk_cookie_prefernce_toolbar {
		margin-top: 30px;
		input[type=button] {
			background: #e3e3e3;
			border: 1px solid #bbb;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;
			-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
			-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
			box-shadow: inset 0 0 1px 1px #f6f6f6;
			color: #333;
			font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
			padding: 8px 0 9px;
			text-align: center;
			text-shadow: 0 1px 0 #fff;
			width: 120px; 
			margin-left: 10px;

			&:hover {
				background: #d9d9d9;
				-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
				-moz-box-shadow: inset 0 0 1px 1px #eaeaea;
				box-shadow: inset 0 0 1px 1px #eaeaea;
				color: #222;
				cursor: pointer; 
			}

			&:active {
				background: #d0d0d0;
				-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
				-moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
				box-shadow: inset 0 0 1px 1px #e3e3e3;
				color: #000; 
			}
		}
	}

	.huk_cookie_prefernce_link {
		margin-top: 20px;
	}
}
#ck-overlay {
	.opacity(0.6);
	background-color: #000;	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#cookie-ext-panel {
	.border-radius(3px, 3px, 3px, 3px);
	background-color: #f5f5f5;
	width:600px;
	padding: 0 20px;
	border:3px solid #333;
	-webkit-box-shadow: 0px 0px 19px #999;
	-moz-box-shadow:    0px 0px 19px #999;
	box-shadow:         0px 0px 19px #999;
	#c-toolbar {
		text-align:right;
		margin: 20px 0 20px 0;
		height: 20px;
		input[type=button] {
			float: right;
			background: #e3e3e3;
			border: 1px solid #bbb;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;
			-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
			-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
			box-shadow: inset 0 0 1px 1px #f6f6f6;
			color: #333;
			font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
			padding: 8px 0 9px;
			text-align: center;
			text-shadow: 0 1px 0 #fff;
			width: 120px; 
			margin-left:10px;

			&:hover {
				background: #d9d9d9;
				-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
				-moz-box-shadow: inset 0 0 1px 1px #eaeaea;
				box-shadow: inset 0 0 1px 1px #eaeaea;
				color: #222;
				cursor: pointer; 
			}

			&:active {
				background: #d0d0d0;
				-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
				-moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
				box-shadow: inset 0 0 1px 1px #e3e3e3;
				color: #000; 
			}
		}
	}
}

#cookie-functionalList{
	height:200px;
	#cookieWill{
		width:300px;
		float: left;
	}

	#cookieWillNot{
		width:300px;
		float: left;
	}
}

#cookie-selection{
	clear: both;
	#cokkie-options{
		& label{
			background-color: #DDD;
			border: 1px solid #DDD;
			display: block;
			width:175px;
			height:50px;
			padding:10px;
			float: left;
			margin-right:2px;
			text-align:center;
			font-weight:bolder;
			span{
				display: block;
				height:35px;
			}
		}
		& label:hover{
			border: 1px solid #c4c4c4;
		}
	}
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }